/* ======================================================================================
   @LAYOUT -> SITE STRUCTURE -> GLOBAL -> HEADER
   ====================================================================================== */

.header {
  position: relative;
  z-index: 2;
  background-color: $color-grey-light;
}

  /* Nav single link */
  .nav__single {border-left: 1px solid $color-grey-dark;}