/* ======================================================================================
   @LAYOUT -> SITE STRUCTURE -> GLOBAL -> MAIN
   ====================================================================================== */

.main {
  position: absolute;
  z-index: 1;
  overflow-y: auto;
  @include to-rem(top, $header-height);
  left: 0;
  right: 0;
  bottom: 0;

  @include respond-min($non-palm) {
    @include to-rem(left, $sidebar-width);
  }
}