/* ======================================================================================
   @LAYOUT -> SITE STRUCTURE -> GLOBAL -> NAVIGATION
   ====================================================================================== */

.navigation {
  position: absolute;
  z-index: 2;
  width: 100%;
  background: $color-grey-dark;

  @include respond-min($non-palm) {
    display: block;
    width: $sidebar-width;
    height:100%;
  }
}