/* ======================================================================================
   @LAYOUT -> SITE STRUCTURE -> GLOBAL -> NAVIGATION
   ====================================================================================== */

.nav {
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: $color-grey-dark;

  @include respond-min($non-palm) {
    @include to-rem(width, $sidebar-width);
    height: 100%;
    display:block;
  }
}