/* ======================================================================================
   @UTILS -> VARIABLES
   ====================================================================================== */

$header-menu-breakpoint: 860;

$header-height: 3.5rem;

$sidebar-width: 14rem;