/* ======================================================================================
   @LAYOUT -> CONTAINERS
   ====================================================================================== */

/* Modifier: darkless */
.container--dark-less {background-color: $color-grey-light;}

/* Modifier: light */
.container--light {background-color: $color-white;}

/* Modifier: dark */
.container--dark {background-color: $color-black;}