/* ======================================================================================
   @LAYOUT -> CONTAINERS
   ====================================================================================== */

/* Modifier: white */
.container--white {background-color: $color-white;}

/* Modifier: black */
.container--black {background-color: $color-black;}

/* Modifier: grey light */
.container--grey-light {background-color: $color-grey-light;}